/*
div {
	border: 1px solid grey;
}
*/

header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}

.cookie {
	width: 100%;
	height: auto;
}

.logo {
	display: flex;
	align-items: center;
	color: aquamarine;
	padding-left: 30px;
}

.logo p {
	padding: 1em;
	flex-wrap: wrap;
}

nav {
	align-items: center;
	padding-right: 30px;
}

nav a {
	color: black;
}

main {
	display: flex;
	justify-content: space-around;
}

p {
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

.column.large {
	display: flex;
	width: 630px;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-around;
}

.column.medium {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
}

.column.small {
	display: flex;
	width: 240px;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
}

.headline {
  height: 240px;
  display: flex;
  align-items: center;
  padding: 30px;
}

.headline p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding: 10px;
}

.headline.first {
	background-image: url("../images/story-main.png");
}

.headline.first p {
	font-size: 40px;	
}

.orca {
	width: 49%;
}

.burger {
	width: 49%;
}

.headline.camera {
	background-image: url("../images/camera.png");
	width: 38%;
	margin: 5px;
}

.headline.earth {
	background-image: url("../images/girl-tree.png");
	width: 38%;
	margin: 5px;
}

.headline.cat {
	background-image: url("../images/girl-cat.png");
}

.news {
	font-size: 16px;
	font-weight: bold;
}

.newslist {
	background-color: WhiteSmoke;
	display: flex;
	flex-direction: column;
}

.newslist p {
	padding-bottom: 15px;
	padding-left: 10px;
	background-color: WhiteSmoke;
	font-family: Verdana;
	font-size: 12px;
	color: dimgrey;
	border-bottom: 1px solid black;
}